body{
    background-color: rgb(44, 103, 192);
    color: gold;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}

a{
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}